.fondo_ayuda{
    background-color:white;
}
.titulo_ayuda{
    color: #3bc5aa;
}
.btn_ayuda{
    border: none !important;
    color: #3bc5aa;
    background-color: white;
    font-size: 25px;
    text-decoration: underline;
}
.nuestra_historia{
    color: #495057;
}
.cont_ayuda{
    background-color: #3bc5aa;

}
.color_ayuda{
    color: white;
    font-size: 20px;
    font-weight: 600 !important;
    border:none;
    background-color: #3bc5aa;
}
.color_pregunta{
    border: none !important;
    background-color: white;
}
.tex_pregunta{
    color: #495057 !important;
}